@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1, h2, h3, h4, h5, h6 {
    @apply font-heading;
  }

  p {
    @apply font-body;
  }
}
.heading {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 0;
  vertical-align: middle;
}